
  <mat-card>
     <div class="form-container">
         <mat-card-header>
             <mat-card-title>
          <h4>Register New User</h4>
        </mat-card-title>
        </mat-card-header>
      
 <mat-card-content>
  
      <form #r="ngForm">

        <mat-form-field style="width: 240px;">
            <input [(ngModel)]="email" name="email" matInput placeholder="email" type="email">
        </mat-form-field>
        <br>
            <mat-form-field>
                <input [(ngModel)]="pwd" name="password" matInput placeholder="password" type="password">
            </mat-form-field>
            <br>
         
            <mat-form-field>
                <input [(ngModel)]="name" name="name" matInput placeholder="name">
            </mat-form-field>
            <br>
  

          <button (click)="register()" class="btn btn-success">Register</button>
</form>
</mat-card-content>
</div>
</mat-card>
              
          

          
      
  
